.divex_contactdetails_item {

    list-style: none;
    
}

.divex_contactdetails_item span {

    vertical-align: middle;

}

.divex_contactdetails_item .et-pb-icon {

    font-size: 24px;
    padding-right: 15px;

}